In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
all_stocks = pd.read_csv('data/all_stocks.csv')

In [21]:
all_stocks.head()

            Date    Open    High     Low   Close   Volume  OpenInt     stock
4112  2016-04-01  38.981  39.789  38.922  39.719  2900263        0  Stocks\a
4113  2016-04-04  39.729  39.928  39.217  39.425  3001968        0  Stocks\a
4114  2016-04-05  39.150  39.305  38.617  38.687  1928872        0  Stocks\a
4115  2016-04-06  38.716  39.661  38.597  39.652  1589865        0  Stocks\a
4116  2016-04-07  39.305  39.515  38.677  38.892  1394231        0  Stocks\a

In [15]:
tweets = pd.read_csv('data/twcs.csv')

In [3]:
tweets.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [4]:
all_stocks['Date'].min()
all_stocks['Date'].max()
tweets['created_at'].min()
tweets['created_at'].max()

'Wed Sep 28 18:06:15 +0000 2016'

In [5]:
all_stocks = all_stocks[(all_stocks['Date'] >= '2016-04-01') & (all_stocks['Date'] <= '2016-09-28')]

In [6]:
all_stocks.to_csv("all_stocks.csv", header=True, index=False)

In [18]:
accounts = pd.DataFrame()
accounts = tweets['author_id'].value_counts()[tweets['author_id'].value_counts()> 1000]
accounts.to_csv('accounts.csv')

In [22]:
all_stocks['stock'].unique()

array(['Stocks\\a', 'Stocks\\aa', 'Stocks\\aaap', ..., 'Stocks\\zumz',
       'Stocks\\zx', 'Stocks\\zyne'], dtype=object)