In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
%matplotlib inline

In [5]:
nltk.download('stopwords')
stop_words = set(stopwords.words("english"))
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\carol\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\carol\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [3]:
df_twitter = pd.read_csv('data/twcs.csv')
print('Twitter Data: ' + str(df_twitter.shape))

Twitter Data: (2811774, 7)

In [13]:
# Twitter Dataset Sort by Date
# df_twitter.columns
# df_twitter.dtypes
# df_twitter["created_at"] = pd.to_datetime(df_twitter["created_at"], utc=True)
# df_twitter.dtypes
#df_twitter = df_twitter.sort_values(by="created_at")

In [ ]:
unique_comp = pd.DataFrame(df_twitter['author_id'].unique())

In [ ]:
# Get earliest date
df_twitter.head(n=1)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0

In [ ]:
# Get latest date
df_twitter.tail(n=1)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [4]:
# sns.countplot(x='author_id', data=df_twitter)

In [10]:
# Getting words from one tweet
words_in_tweet1 = word_tokenize(df_twitter['text'][0])
words_in_tweet1

filtered_sentence = []
# initializing punctuations string
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
for w in words_in_tweet1:
    if w not in stop_words:
        if w not in punc:
            filtered_sentence.append(w)

print(filtered_sentence)

['115712', 'I', 'understand', 'I', 'would', 'like', 'assist', 'We', 'would', 'need', 'get', 'private', 'secured', 'link', 'assist']

In [ ]:
# Create a function to extract words from each tweet and then append to a dataframe (you would need to include the tweet_id)